fastapi
uvicorn
python-multipart
# torch>=2.0 --index-url https://download.pytorch.org/whl/cu118
torchvision
torchaudio
transformers
accelerate
datasets
bitsandbytes
peft
safetensors
protobuf
scipy
librosa
soundfile
numpy
edge-tts
requests
jiwer
tensorboard
