fastapi
uvicorn
python-multipart
# torch>=2.8 --pre --index-url https://download.pytorch.org/whl/nightly/cu128
torchvision
transformers
safetensors
librosa
numpy
scipy
soundfile
peft
accelerate
protobuf
datasets
bitsandbytes
requests
torchaudio
tensorboard
jiwer
